<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "by.e95.boris_train"
        versionCode = "3" 
        version     = "20140130" >

	    <name>Программа тренировок fit4life</name>
	    <description>Алгоритм ТВОЕЙ тренировочной программы ТУТ.
	В тренажерном зале один из самых сложных вопросов - выбрать тренировочную программу, оптимальмую для вас. Здесь учтены такие параметры как ПОЛ, ВОЗРАСТ, ТРЕНИРОВАННОСТЬ и ГЕНЕТИКА, поскольку автор считает их основными, при выборе программы ДЛЯ НОВИЧКОВ. 

	К ЧЕРТУ СКАЗОЧНИКОВ - ТОЛЬКО РАБОЧИЕ СХЕМЫ ТРЕНИРОВОК.
	Да, придется поработать. ЭТО МИР НЕ ДЛЯ ЛЕНИВЫХ
	Автор - Денис Борисов, спортсмен и хороший человек. fit4life.ru
	    </description>
	    <author href="http://e95.by" email="vasilychapaev@gmail.com">Vasily Chapaev</author>


	    <preference name="phonegap-version" value="3.1.0" />
	    <icon src="images/app_icon_128.png" />
	    <gap:splash src="images/splash_640x960.jpg" />
	    	    
	    <gap:platform name="android" />


	</widget>